:root {
  --white: #ffffff;
  --black: #212121;
  --primary: #FFC107;
  --seconday: #0097A7;
  --gray: #757575;
  --white_gray: #cbd4dd;

  --principal-font: 3.8rem;
}

html {
  font-size: 62.5%;
}

body {
  padding:0; margin:0; height:100%; width:100%;
  background-color: var(--white_gray);


}
div {
  font-family:arial;
  font-size:16px;
  font-weight:bold;
  text-align:center;
}

.Button {
  background-color: Green;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}